body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main, .sendContainer {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 10px 50px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}
.sendContainer {
    border-bottom: none;
    padding-top: 20px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
.messageContainer{
    border: 1px solid blue;
    word-break: break-all;
    overflow: hidden;
}

.created {
    float: right;
}

.friend {
    background-color: #c0c0c0;
}
.loading{
    background:url(loader.gif) no-repeat 50% 50%;
}

