body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main, .sendContainer {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 10px 50px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}
.sendContainer {
    border-bottom: none;
    padding-top: 20px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
.messageContainer{
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    word-break: break-all;
    overflow: hidden;
    margin:10px 0;
    padding:5px;
}

.created {
    display: inline;
    font-size: small;
    color: #c0c0c0;
}

.friend {
    background-color: #c0c0c0;
}

.username {
    display: inline;
    font-size: large;
    margin-right: 10px;
}

.username a, a:visited {
    text-decoration: none;
}

.username a:hover, a:active {
    text-decoration: underline;
}
